// font colors
$colorwhite:#fff;
$colorblack:#000;
$color1:#474747;
$color2:#545454;
$color3:#f7941d;
// background colors
$bgwhite:#fff;
$bg1:#d8d8d8;
$bgblack:#000000;
$bg2:#dbdbdb;
$bg3:#d3d3d3;
$bg4:#808080;
$bg5:#e8e7e7;
$bg6:#6b6b6b;
$bg7:#2a2a2a;
$bg8:#efefef;
$bg9:#ebebeb;
$bg10:#f7941d;
// border colors


$brdr1:#474747;
$brdr2:#707070;
$brdr3:#8b8b8b;
$brdr4:#000;
$brdr5:#d6d6d6;
$brdr6:#b8b8b8;
$brdr7:#f7941d;
// box shadows


// button colors and background colors
$btnbg1:#f7941d;

// button borders
$btnbrdr1:#f7941d;
