#newsebi-wrapper {
  #navbar
  {
      @media(max-width:992px)
      {
        display: none !important;
      }
  }

  #investor-banner-wrapper {
      position: relative;
      .investor--banner {
          background-size:cover;
          background-position: center;
          height: 750px;
          margin-bottom: 160px !important;
          position: relative;
          background-repeat: no-repeat !important;
          @media screen and (max-width:991px) {
            margin-bottom: 15px !important;
            position: initial;
            height: 300px !important;
            background-position: top !important;
          }
          @media(min-width:992px) and (max-width: 1400px)
          {
            background-position: center !important;
            background-image: url('/static/embassy/images/investors/investorbanner_1440x637.png') !important;
          }
          @media(min-width:1681px) and (max-width:1900px)
          {
            margin-bottom: 130px !important;
          }
          @media(min-width:1901px)
          {
            margin-bottom: 160px !important;
          }
      }
    @media (max-width:992px) {
      margin-bottom: 65px;
    }
    .container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -128px !important;
      max-width: 70%;
      @media(min-width:1681px)
      {
        bottom: -95px !important;
      }
      @media(min-width:992px) and (max-width:1600px) {
          max-width: 86% !important;
      }
      @media screen and (max-width:991px) {
          bottom: -85px;
          max-width: 95%;
          position: initial;
      }
      @media(max-width:576px) {
            max-width: 100%;
      }
      h1
      {
        color:#fff;
        font-size: 48px;
        text-shadow: 7px 7px 6px #444444;
        @media(max-width:991px) {
          color: #094369;
          text-align: center;
          margin-bottom: 15px;
          text-shadow: none !important;
        }
        @media(max-width:576px)
        {
          font-size: 36px;
          text-align: left;
        }
        @media(min-width:576px) and (max-width:768px)
        {
          text-align: left;
        }
      }
      .share-wrapper
      {
        background: rgba(38, 28, 32, 0.9);
        padding: 20px 0px 15px 0px;
        @media(min-width:576px) and (max-width:768px)
        {
          padding: 15px 0px 15px 0px;
        }
        @media(min-width:769px) and (max-width:992px)
        {
          padding: 15px 0px 15px 0px;
        }
        @media(min-width:992px) and (max-width:1100px)
        {
          padding: 15px 0px 15px 0px;
        }
        @media(min-width:1101px)
        {
          padding: 12px 20px 10px 0px;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        .share-inner-wrapper
        {
          display: flex;
          justify-content: flex-end;
          width: 64%;
          align-items: center;
          @media(max-width:576px) {
            display: block;
            text-align: center;
            width: 100%;
          }
          @media(min-width:576px) and (max-width:768px)
          {
                padding: 0px 10px;
                display: block;
                text-align: center;
                width: 100%;
          }
          @media(min-width:768px) and (max-width:992px)
          {
            justify-content: center;
            padding: 0px 10px;
            width: 100%;
          }
          @media(min-width:992px) and (max-width:1100px)
          {
            padding: 0px 10px;
            justify-content: center;
            width: 100%;
          }
          @media(min-width:1101px)
          {
            width: 70%;
          }
          p
          {
            color:#fff;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            span
            {
              color:#F39C38;
              display: inherit;
              align-self: center;
            }
            @media(max-width:768px)
            {
              justify-content: center;
              padding: 4px 10px;
            }
          }
        }
        .might-data
        {
          padding-left: 10px;
          display: block;
          margin-top: -2px;
          @media(max-width: 992px)
          {
            margin: 0 auto;
            text-align: center;
          }
          @media(min-width:992px) and (max-width:1100px)
          {
            text-align: center;
            padding-top: 5px;
          }
        }
      }
      #investor-overview
      {
        .carousel-indicators
        {
          bottom: -27px;
          display: flex;
          align-items: center;
          @media(max-width:992px)
          {
            bottom: -55px;
          }
          li {
            margin: 4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(38, 28, 32, 1);
            &.active
            {
              border: 1px solid #f7941d;
              width: 30px;
              height: 8px;
              border-radius: 7px;
              background-color: #f7941d;
            }
          }
        }
        .car-cont-wrapper {
            .port-folio-wrapper {
              background: rgba(9, 67, 105, 0.9);
              padding: 0px 20px 10px 20px !important;
              @media(min-width:1201px) and (max-width:1320px)
              {
                  min-height: 160px !important;
              }
              @media(min-width:1201px) and (max-width:1600px)
              {
                min-height: 135px;
              }
              h3
              {
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 26px !important;
                padding:12px 0px;
                font-family: $fontmedium;
                @media(max-width:576px)
                {
                  margin: 0;
                  padding: 20px 0px 12px 0px;
                }
                @media(min-width:1201px) and (max-width:1600px)
                {
                  font-size: 20px !important;
                  padding: 7px 0px;
                }
              }
              .icon-wrapper
              {
                @media(max-width:1300px)
                {
                  height: unset !important;
                }
                @media(min-width:1301px) and (max-width:1689px)
                {
                    height: unset !important;
                }
                @media(min-width:1690px)
                {
                  height: 85px !important;
                }
                .icon-inner-wrapper
                {
                  display: flex;
                  text-align: left;
                  align-items: flex-start;
                  justify-content: center;
                  @media(max-width:576px)
                  {
                    display: block;
                    text-align: center;
                    margin: 20px auto;
                  }
                  @media(min-width:576px) and (max-width:768px)
                  {
                    display: block;
                    text-align: center;
                    margin: 20px auto;
                  }
                  @media(min-width:768px) and (max-width:992px)
                  {
                    display: block;
                    text-align: center;
                    margin: 10px auto;
                  }
                  @media(min-width:993px) and (max-width:1200px)
                  {
                    display: block;
                    text-align: center;
                  }
                  @media(min-width:1201px) and (max-width:1680px)
                  {
                    padding-bottom: 5px;
                    align-items: end;
                  }
                  img
                  {
                    padding-right: 20px;
                    @media(max-width:576px)
                    {
                      padding-right: 0px;
                      padding-bottom: 10px;
                    }
                    @media(min-width:576px) and (max-width:768px)
                    {
                      padding-right: 0px;
                      padding-bottom: 10px;
                    }
                    @media(min-width:769px) and (max-width:992px)
                    {
                      padding-right: 0px;
                      padding-bottom: 10px;
                    }
                    @media(min-width:992px) and (max-width:1200px)
                    {
                      padding-right: 0px;
                      padding-bottom: 15px;
                    }
                    @media(min-width:1201px) and (max-width:1600px)
                    {
                      transform: scale(0.9);
                    }
                  }
                  .icon-inner-cont-wrapper
                  {
                    h2
                    {
                      padding: 0px 0px 0px 0px;
                      color: #fff;
                      margin: 0;
                      font-size: 26px;
                      padding-bottom: 0px;
                      font-family: $fontregular;
                      @media(min-width:576px) and (max-width:768px)
                      {
                        padding: 10px 0px 0px 0px;
                        color: #fff;
                        margin: 0;
                        text-align: center;
                        font-size: 20px;
                      }
                      @media(min-width:768px) and (max-width:992px)
                      {
                        padding: 0px;
                        margin: 0;
                        font-size: 22px;
                      }
                      @media(min-width:1201px) and (max-width:1600px)
                      {
                            font-size: 20px;
                      }
                    }
                    p
                    {
                      font-size: 16px;
                      color:#fff;
                      @media(min-width:1201px) and (max-width:1600px)
                      {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
          h6 {
            width: 100%;
            text-align: right;
            padding: 12px 0px 0px 0px;
            color: #261C20;
            font-size: 12px;
            font-family: $fontregular;
            @media(max-width:992px)
            {
              text-align: center;
            }
          }
        }

      }
    }

    #factsheet-wrapper
    {
      ul
      {
        list-style-type: none;
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 60px;
        align-items: end;
        @media(max-width:992px)
        {
          display: block;
          text-align: center;
          margin-bottom: 0px !important;
        }
          li
          {
            @media(max-width:992px)
            {
              margin: 0px auto 30px;
              width: 100%;
            }
            @media(min-width:991px) and (max-width:1080px)
            {
              padding: 0px 10px !important;
            }
            @media screen and (max-width: 1301px) and (min-width: 991px) {
                padding: 0px 20px;
            }
              padding: 0px 30px;
              @media(min-width:1160px) and (max-width:1600px)
              {
                padding: 0px 2px;
              }
              a
              {
                color: #261C20;
                padding: 8px 0px;
                border-radius: 0px;
                font-size: 16px;
                display: flex;
                align-items: center;
                transition: 0.3s ease-in;
                &:hover {
                    color: #F7941D;
                }
                span
                {
                  border-bottom: 2px solid #F7941D;
                }
                &.facts::before
                {
                  content: url('/static/embassy/images/investors/overview-icons/hello/FACTSHEET.png');
                  padding: 0px 10px 0px 0px;
                }
                &.investor-presentation::before
                {
                  content: url('/static/embassy/images/investors/overview-icons/hello/Earnings-Presentation-icon.png');
                  padding: 0px 10px 0px 0px;
                }
                &.supp-data::before
                {
                  content: url('/static/embassy/images/investors/overview-icons/hello/SUPPLEMENTARY_DATABOOK.png');
                  padding: 5px 10px 0px 0px;
                }
                &.hyr::before
                {
                  content: url('/static/embassy/images/investors/overview-icons/hello/hALF_YEARLY_REPORT.png');
                  padding: 0px 10px 0px 0px;
                }
                &.faqs::before
                {
                  content: url('/static/embassy/images/investors/overview-icons/hello/faq.png');
                  padding: 0px 10px 0px 0px;
                }
                @media(max-width:375px)
                {
                  font-size: 11px;
                  justify-content: center;
                }
                @media(max-width:768px)
                {
                  justify-content: left;
                }
                @media(min-width:768px) and (max-width:992px)
                {
                  justify-content: center;
                }
                @media(min-width:992px) and (max-width:1170px)
                {
                  font-size: 9px;
                      padding: 8px 10px;
                }
                @media(min-width:1160px) and (max-width:1600px)
                {
                  font-size: 14px;
                      padding: 8px 10px;
                }
                @media(min-width:1401px) and (max-width:1600px)
                {
                  font-size: 16px;
                  padding: 8px 12px;
                }
              }
          }
      }
    }

  #sebi-fillings-wrapper
  {
    h2
    {
      font-size: 36px;
      font-family: $fontmedium;
      margin-bottom: 30px;
      color:#094369;
      @media(max-width:576px)
      {
        font-size: 22px;
      }
      @media(min-width:576px) and (max-width:768px)
      {
        font-size: 26px;
      }
    }
    @media(max-width:767px)
    {
      padding: 0px 15px;
    }
    .head-wrapper
    {
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 40px;
      padding-top: 40px;
      @media(max-width:992px)
      {
        padding-bottom: 0px;
        padding-top: 0px;
      }
      h3
      {
        color:#094369;
        font-size: 36px;
      }
      .sebi-form-wrapper {
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: flex-end;
        @media(min-width:992px) and (max-width: 1601px)
        {
          width: 52%;
          justify-content: flex-end;
        }
        @media(max-width:992px)
        {
          display: block;
          width: 100%;
        }
        p
        {
          padding: 0px 10px;
          font-size: 14px;
          color: #585858;
          @media screen and (min-width: 991px) {
                  width: 22%;
                  text-align: right;
          }
          @media(max-width:992px)
          {
            padding: 0;
            margin-bottom: 15px;
          }
        }
        select
        {
          border: none;
          border-bottom: 1px solid #ADADAD;
          padding-bottom: 5px;
          background: none;
          margin: 0px 10px;
          width: 24%;
          font-family: $fontmedium;
          @media(max-width:992px)
          {
            width: 100%;
            margin: 0px 0px 20px 0px;
          }
        }
        button
        {
          padding: 9px 36px;
          margin: 0px 15px;
          background: #F7941D;
          border: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          border:1px solid #F7941D;
          @media(max-width:576px)
          {
            margin: 15px 0px;
            width: 100%;
          }
          @media(max-width:992px)
          {
            margin: 15px 0px 35px;
          }
          @media(min-width:992px)
          {
            margin: 0px 34px;
          }
          &:hover
          {
            background-color: transparent;
            transition: 0.3s ease-in;
            color:#F7941D;
          }
        }
      }
    }
  }

  #sebi-listing-wrapper
  {
    @media(max-width:768px)
    {
      padding: 0px 15px;
    }
    .sebi-row
    {
      padding: 30px 0px 60px;
      @media(max-width:992px)
      {
        padding: 0px;
      }
      .sebi-pdf-wrapper
      {
        width: 90%;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        align-items: end;
        border-bottom: 1px solid #ADADAD;
        height: 95%;
        @media(max-width:768px)
        {
          width: 100%;
          margin-bottom: 10px;
          padding-top: 10px;
        }
        @media(min-width:768px) and (max-width:992px)
        {
          width: 90%;
          margin-bottom: 10px;
          padding-top: 10px;
        }
        img
        {
          padding-right: 15px;
          align-self: flex-start;
        }
        .head-wrapper-pdf
        {
          height: 100%;
          align-self: flex-start;
          @media(max-width:768px)
          {
            height: unset;
          }
          h3
          {
            font-size: 14px !important;
            color: #094369;
            padding-bottom: 10px;
            margin: 0;
            word-break:break-word;
            &:hover
            {
              color:#FF8E43;
              transition: 0.3s ease-in;
            }
            @media(min-width:768px) and (max-width:992px)
            {
              min-height: 48px;
            }
            @media(min-width:992px) and (max-width:1027px)
            {
              padding-bottom: 0px;
                  min-height: 60px;
            }
            @media(min-width:1027px) and (max-width:1371px)
            {
              padding-bottom: 0px;
              min-height: 60px;
            }
            @media(min-width:1372px) and (max-width:1664px)
            {
                min-height: 42px;
            }
            @media(min-width:1664px)
            {
              min-height: 42px;
            }
            @media(min-width:1901px)
            {
              padding-bottom: 0px;
            }
          }
          p
          {
            color:#261C20;
            font-size: 13px;
            padding: 10px 0px;
            margin-top: -10px;
            padding-bottom: 20px;
            font-family: $fontmedium;
          }
        }
      }
    }
  }

  #investor-form
  {
    padding:20px 0px 60px;
    @media(max-width:768px)
    {
      padding: 30px 0px;
    }
    .embassyy-invester-details
    {
      .investor--form--banner {
        padding: 60px 40px;
        position: relative;
        background: url(/static/embassy/images/subscribe.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media(max-width:576px)
        {
          padding: 40px 20px 25px 20px;
        }
      }
    }
  }
}
.investor--form--banner {
  padding: 60px 40px;
  position: relative;
  background: url(/static/embassy/images/subscribe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media(max-width:576px)
  {
    padding: 40px 20px 25px 20px;
  }
}
